{{if .Authorkey}}
{{ $extPath := printf "%s%s" .Authorkey ".jpg" }}
{{ $imgPath := path.Join "author" $extPath }}
{{ $img := resources.Get $imgPath }}

<div class="bio_wrapper row">
      {{ if $img }}
    <div class="col-xs-12 col-sm-4">
        <span class="img">
          <img class="bio_pic" src="{{ ($img.Fill "300x300 q100 Center").RelPermalink }}"/>
      </span>
      </div>
      {{ if .info }}
      <div class="col-xs-12 col-sm-8">
          <div class="bio_name">
            {{ .info.Params.title }}
           </div>
          <div class="bio_text">
            {{ if .short_words }}
              {{ .short_words }}
            {{ else }}
              {{ .info.Params.short_bio }}
            {{ end }}
           </div>
     </div>
     {{ end }}
     {{ else }}
          {{ if .info }}
         <div class="col-xs-12">
             <div class="bio_name">
               {{ .info.Params.title }}
              </div>
             <div class="bio_text">
               {{ if .short_words }}
                 {{ .short_words }}
               {{ else }}
                 {{ .info.Params.short_bio }}
               {{ end }}
              </div>
        </div>
          {{ end }}
          {{ end }}
</div>
{{ end }}
