
/* blog-main */



.blog-bg-wrapper{
      margin-right: 0px;
      min-height: 600px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: var(--blog-mobile-background);
      @include respond(xl){
      background-image: var(--blog-background);
    }

    .background-filter{
      min-height: 600px;
      background-color: rgba(144, 144, 144, 0.8);
      @include respond(xl){
      height: 700px;
      }
    }



    .js-dragndrop {
      cursor: grab;
      -moz-user-select: none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: outline 1s;
    }

    .outer {
      display: flex;
      position: relative;
      max-width: 854px;
      height: auto;
      @include respond(xl){
        height:700px;
      }
    }

    .inner {
      position: relative;
      display: flex;
      justify-content: center;
      min-width: 100px;
      background-repeat: no-repeat;
      background-position: center center;
      flex-basis: 33%;
      max-width: 33%;
      height: 12rem;

      @include respond(sm){
        position: relative;
        flex-basis: 25%;
        max-width: 25%;
        height: 12rem;
      }

      &:before{
        align-self: flex-end;
        content: attr(content);
        font-size: 1.48rem;
        font-family: var(--base-font-family);
        z-index: 1;
          @include respond(xl){
            font-size: 1.54rem;
          }
        }
      }


    @include respond(xl) {

      .inner{
        position: absolute;
      }

      @for $i from 1 through 8 {
        .inner-#{$i}
        {
          top: 0;
          left: 110*$i;
        }
      }

      @for $i from 9 through 17 {
        .inner-#{$i}
        {
          top: 110;
          left: $i*110-9*110;
        }
      }
        .specified
        { top: var(--positionTop);
          left: var(--positionLeft);
        }
    }
    .draggable-title{
      line-height: 4rem;
      }
}

/* blog-individual */

.blog-wrapper{
  color: var(--card-text-color-main);
  margin-left: 1em;

  .blog_title{
    font-family: var(--article-font-family);
    font-size: 2.5em;

  }

  .pre_blog_description{
    color: rgba(var(--accent-color-exp), 0.8);
    margin-top: 1.5em;
  }

  .blog_description{
    font-family: var(--article-font-family);
    font-size: 1.5em;
  }


  .blog-list{
    margin-top: 4em;
    margin-left: 1em;

    .list-title{
      font-family: var(--article-font-family);
      font-weight: 600;
      font-size: 1.5em;
    }

    ol{
      padding-inline-start: 0px;

        .posts-line{
          margin-top: 1em;

          .posts-title a{
            color: var(--card-text-color-main);
            font-family: var(--article-font-family);
            font-weight: 500;
            }
          }
      }


}
}
